
# CV & Math libraries
numpy==1.*
opencv-python-headless==4.*

# GIF/Video making library
moviepy==1.*

# Library for GET/POST requests
requests==2.*

# Simple web framework
Flask==1.*
Flask-Cors==3.*

# Simple web server for flask
waitress==1.*
